<mat-toolbar color="primary" style="display: flex">
  <span >Chatz</span>
  <span style="flex: 1 1 auto"></span> <!-- spacer for header -->
  <span *ngIf="fireService.auth.currentUser!=null">logged in as: {{fireService.auth.currentUser.email}}</span>
  <img (click)="img_upload.click()" src="{{fireService.UserAvatar}}" style="max-height: 60px; margin-left: 10px; border-radius: 15px">
  <input #img_upload hidden type="file" (change)="fireService.updateUserAvatar($event)">
  <span style="flex: 1 1 auto"></span> <!-- spacer for header -->
  <button mat-button *ngIf="fireService.auth.currentUser!=null" [matMenuTriggerFor]="menu" style="font-size: 20px; font-weight: 500; line-height: 32px; font-family: Roboto, sans-serif; letter-spacing: .0125em;">
    <mat-icon style="scale: 2">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="fireService.auth.currentUser!=null" (click)="fireService.signOut()"> <!--User is logged in-->
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>

<!-- Div for logging in & registering -->
<div *ngIf="fireService.auth.currentUser==null" style="margin: 5% auto auto; width: 40%; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)">
  <mat-card style=" padding: 5%; background-color: whitesmoke">
    <mat-card-title style="text-align: center">
      Log in
    </mat-card-title>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="name" type="username">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" type="email">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" [type]="'password'">
    </mat-form-field>

    <button color="primary" mat-raised-button (click)="fireService.signIn(email, password)">Log in</button>
    <button mat-raised-button style="margin-top: 10px;" (click)="fireService.register(email, password, name)">Register</button>

  </mat-card>

</div>

<!-- Div for the chats -->
<div *ngIf="fireService.auth.currentUser!=null" style="width: 24%; float: left; margin: 10px; height: 90vh; overflow:auto">
  <div style="position:sticky; top: 0; background-color: whitesmoke; padding-top: 10px; z-index: 2;">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Chat name</mat-label>
      <input matInput [(ngModel)]="chatname"  style="width: 100%">
    </mat-form-field>

    <!-- form for participant chips -->
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Participants</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter fruits">
        <mat-chip-row *ngFor="let participant of fireService.chatParticipants"
                      (removed)="fireService.removeParticipant(participant)"
                      [editable]="true"
                      (edited)="fireService.editParticipant(participant, $event)"
                      [aria-description]="'press enter to edit ' + participant.email">
          {{participant.email}}
          <button matChipRemove [attr.aria-label]="'remove ' + participant.email">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input placeholder="Add participant..."
               [matChipInputFor]="chipGrid"
               [matChipInputSeparatorKeyCodes]="fireService.separatorKeysCodes"
               [matChipInputAddOnBlur]="fireService.addOnBlur"
               (matChipInputTokenEnd)="fireService.addParticipant($event)"/>
      </mat-chip-grid>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="fireService.CreateNewChat(chatname)" style="display: flex; margin:auto">Create Chat</button>
    <br>
  </div>
  <br>

  <p *ngFor="let chat of fireService.chats">
    {{chat.chatname}}, messages: {{chat.messageCounter}}
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="fireService.getMessagesFromChat(chat.id)" >Open Chat</button>
    <span *ngIf="fireService.openChat">
      <button *ngIf="chat.id== fireService.openChat.id" mat-raised-button color="primary" (click)="fireService.clearOpenChat(chat.id)" style="margin-left: 10px">Clear</button>
    </span>
    <button mat-raised-button color="warn" (click)="fireService.DeleteChat(chat.id)" style="float: right">Delete</button>

    <br><br>
    <mat-divider></mat-divider>
  </p>
</div>


<!-- Div for the open chat -->
<div *ngIf="fireService.openChat != undefined && fireService.auth.currentUser!=null"  style="width: 74%; float: right">
  <p style="font-size: 30px; margin: auto; padding: 5px; margin: 5px">{{fireService.openChat.chatname}}</p>
  <mat-card scroll-glue id="ChatBox" style="padding: 25px; height: 74vh; overflow:auto; display: flex; flex-direction: column-reverse; margin-bottom: 10px">
    <div *ngIf="fireService.messages.length == 0" style="margin: auto">
      <p style="font-size: 24px; margin: auto">This chat appears empty... 😢</p>
      <br>
      <p style="font-size: 24px; margin: auto">Be the first to write a message! 🥳</p>
    </div>

    <div *ngIf="fireService.messages != undefined">
      <div  *ngFor="let message of fireService.messages" style="word-wrap: break-word;">
        <div class="messages" style="display: flex;">
          <div *ngIf="message.user.id == fireService.auth.currentUser.uid"  style="float: left; margin-right: 5px">
            <img src="{{fireService.UserAvatar}}" style="max-height: 35px; min-width: 35px; border-radius:25px;">
          </div>
          <div *ngIf="message.user.id != fireService.auth.currentUser.uid"  style="float: left; margin-right: 5px">
            <img src="{{message.avatarURL}}" style="max-height: 35px; min-width: 35px; border-radius:25px;">
          </div>

          <div style="float: left">
            <strong>{{message.timestamp| date:'dd/MM H:mm:ss'}} from {{message.user.name}}:</strong><br>
            {{message.content}}
          </div>

          <span style="flex: 1 1 auto"></span> <!-- spacer for header -->
          <div style="float: right; min-width: 8vw">
            <button mat-mini-fab color="primary"  [cdkCopyToClipboard]="message.content" (click)="sendCopyToClipboardSnackbar()" style="float: right; scale: 0.8;">
              <mat-icon>file_copy</mat-icon>
            </button>
            <button mat-mini-fab color="primary"  *ngIf="message.user.id == fireService.auth.currentUser.uid" style="float: right; scale: 0.8;">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn"  *ngIf="message.user.id == fireService.auth.currentUser.uid" (click)="fireService.deleteMessage(message.id)" style="float: right; scale: 0.8;">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <br><br>
        </div>
      </div>
    </div>
  </mat-card>

  <div *ngIf="fireService.openChat != undefined" style="position: sticky; bottom: 0;">
    <mat-form-field style="width: 100%;">
      <textarea matInput id="ChatInput" [(ngModel)]="content" style="overflow: hidden; height: 8vh" (keydown.enter)="fireService.sendMessage(content)"></textarea>
    </mat-form-field>
  </div>
</div>



